<% include ../partials/header.ejs %> 
     
     <div class="container">
         <div class="row">
             <div class="col-md-offsetr-5 col-md-10"></div>
                 <h1><%= title %></h1>
                 <a class="btn btn-primary" href="/contact-list/add" role="button">
                 <i class="fa fa-plus-square"></i>Add a contact</a>
                 <br>
                 <table class="table table-bordered striped hover">
                     <tr>
                         <th class="text-center">Name of favourite</th>
                         <th class="text-center">Description</th>
                         <th class="text-center"></th>
                         <th class="text-center"></th>
                     </tr>

                     <% for (let count = 0; count < contactList.length; count++) { %>
                         <tr>
                             <td class="text-center"><%= contactList[count].name %></td>
                             <td class="text-center"><%= contactList[count].desc %></td>
                             
                             <td class="text-center">
                             <a href="/contact-list/edit/<%= contactList[count]._id %>"
                                class="btn btn-primary"><i class="fa fa-edit"></i>Edit</a>                           
                             </td>

                             <td class="text-center">
                                    <a href="/contact-list/delete/<%= contactList[count]._id %>"
                                       class="btn btn-danger"><i class="fa fa-trash"></i>Delete</a>                                   
                                    </td>
                         </tr>
                     <% } %>
                 </table>

         </div>
     </div>
  
<% include ../partials/footer.ejs %> 